.fav-icons-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100px;
    height: 100px;
    cursor: move;
    color: white;
}

.fav-icons-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.fav-icons-image {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    cursor: pointer;
    transition: transform 0.2s;
}

.fav-icons-image:hover {
    transform: scale(1.1);
}

.fav-icons-name {
    text-align: center;
    width: 100%;
    font-size: 0.8em;
    margin-top: 5px;
}

.delete-icons {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.1s;
    background-color: rgb(238, 77, 77);
    border-radius: 50%;
    z-index: 1000;
}

.delete-icons:hover {
    transform: scale(1.1);
}
