.dock-window {
    width: 100%;
    height: 100vh;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.dock-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    color: white;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    top: 0;
    left: 0;
    padding: 0 10px;
    font-weight: 400;
    font-size: 1em;
    z-index: 1000;
}

.dock-menu div {
    display: flex;
    align-items: center;
}

.dock-menu img {
    width: 20px;
    height: 20px;
    margin: 5px;
}

.p-dock-list-container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.p-dock-action:hover {
    cursor: pointer;
}

.dock-demo .p-dock {
    z-index: 1000;
}

.fav-icons-display {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 56px 8px;
}
