.search-bar-container {
    position: fixed;
    display: flex;
    justify-content: center;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 150px;
}

.search-bar-container input {
    max-width: 600px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1em;
}

body.light .search-bar-container input {
    background-color: aliceblue;
    color: black;
    border: 1px solid #cac9c9;
}

body.dark .search-bar-container input {
    background-color: #333;
    color: white;
    border: 1px solid #535353;
}